html {
  height: 100%;
}

body {
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'VT323', monospace;
}

.container {
  overflow: auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(80,80,80,0.1);
  min-height: 400px;
}

.title-container {
  padding: 20px;
}

.title {
  font-size: 70px;
  color: #FF0000;
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #00FF00;
  width: 400px;
  font-family: 'VT323', monospace;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 240px;
}

.links-button {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.links-button:hover {
  transform: scale(1.2);
}

.projects-button {
  color: #FEFEFE;
  font-size: 28px;
  font-family: 'Bungee Inline', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.projects-button:hover {
  color: #00FF00;
}

.worldFM-container {
  background-color: rgba(80,80,80,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #FEFEFE;
  cursor: default;
}

.worldFM-title {
  font-size: 40px;
  font-family: 'Bungee Inline', cursive;
  color: #FF0000;
  text-decoration: none;
  padding-top: 10px;
}

.worldFM-title:hover {
  color: #00FF00;
}

.worldFM-images {
  display: flex;
  justify-content: space-around;
}

.worldFM-moreToCome {
  font-size: 28px;
}

.imstagran {
  background-color: rgba(80,80,80,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #FEFEFE;
  cursor: default;
}

.icon {
  cursor: pointer;
  padding-bottom: 26px;
}

.icon:hover {
  color: #00FF00;
}

canvas {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 46px;
  }
  .subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    width: 260px;
  }
  .worldFM-moreToCome {
    font-size: 18px;
    margin-bottom: -10px;
  }
}
