html {
  height: 100%;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Electrolize', sans-serif;
}

.Main {
  background-color: white;
  border: 1px solid lightgrey;
}

.Progress {
  position: absolute;
}

.Tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
