html {
  height: 100%;
}

body {
  background-color: #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Electrolize', sans-serif;
}

.Progress {
  position: absolute;
}

.Main {
  background-color: #FEFEFE;
  /*border: 1px solid lightgrey;*/
  position: relative;
  top: -7px;
}

.Me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  width: 100%;
  min-width: 200px;
  text-align: center;
  position: relative;
  top: -50px;
}

.Links {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 180px;
}

.Skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.WorldFMTitle {
  font-size: 40px;
  text-decoration: none;
  color: black;
  margin-top: 40px;
}

.WorldFMTitle:hover {
  color: #FFC107;
}

.WorldFM {
  width: 75%;
  margin-top: 10px;
}
.Tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
