html {
  height: 100%;
}

body {
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'VT323', monospace;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(80,80,80,0.1);
}

.title-container {
  padding: 20px;
}

.title {
  font-size: 70px;
  color: red;
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #00FF00;
  width: 400px;
  font-family: 'VT323', monospace;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.links:hover {
  color: #00FF00;
}

.projects-button {
  color: white;
  font-size: 28px;
  font-family: 'Bungee Inline', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-button:hover {
  color: #00FF00;
}

canvas {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}


@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}


@media screen and (max-width: 430px) {
  .title {
    font-size: 46px;
  }
  .subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    width: 260px;
  }
}
